{% extends 'base.html' %}

{% block body %}

<div class="homeslider">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="/static/img/998470.jpg">
				<div class="caption">
					<div class="captioninside">
						<h2 style="font-family: sans-serif; margin-bottom: 5px;">Avenger: End Game</h3>
							<p>The Last War</p>
							<a href="{% url 'imdb:movie_detail' 4154796 %}" class="playbutton">View Details</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<img src="/static/img/909185.jpg">
				<div class="caption">
					<div class="captioninside">
						<h3 style="font-family: sans-serif;">Avenger: Infinity War</h3>
						<p>Trùm</p>
						<a href="single.html" class="playbutton">Play</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<img src="/static/img/1913795.jpg">
				<div class="caption">
					<div class="captioninside">
						<h3>Parasite</h3>
						<p>Kí Sinh Trùng</p>
						<a href="single.html" class="playbutton">Play</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Add Pagination -->
		<div class="swiper-pagination"></div>
	</div>
</div>

<main class="content">
	<section class="centered">
		<div class="movies">
			{% for movie in object_list %}
			<div class="mov">
				<a href="{% url 'imdb:movie_detail' movie.id_movie %}">
					<img alt="{{movie.title_movie}}" height="300" src="{{movie.poster_movie}}" width="200">
					<h2 class="movietitle">{{movie.title_movie}}</h2>
				</a>
			</div>
			{% endfor %}

		</div>
		{% if is_paginated %}
		<nav class="pagination">
			<ul>
				{% if page_obj.has_previous %}
				<li><a href="?page=1">First</a></li>
				<li><a href="?page={{page_obj.previous_page_number}}">Prev</a></li>
				{% endif %}

				{% for page in page_obj.paginator.page_range %}
					{% if page_obj.number == page %}
            			<li><a href="">{{page}}</a></li>
        			{% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
            			<li><a href="?page={{page}}">{{page}}</a></li>
        			{% endif %}
    			{% endfor %}
				
				{% if page_obj.has_next %}
					<li><a href="?page={{page_obj.next_page_number}}">Next</a></li>
					<li><a href="?page={{page_obj.paginator.num_pages}}">Last</a></li>
				{% else %}
				{% endif %}
				
			</ul>
		</nav>
		{% endif %}

	</section>

</main>
{% endblock body %}