{% extends 'base.html' %}
{% block body %}
<!-- <main class="content">
	<div class="single">

		<section class="movie">
			<img alt="{{movie.judul_movie}}" height="300" src="{{movie.poster_movie}}" width="200">
			<ul>
				<li>{{object}}</li>
				<li>{{object.deskripsi_movie}}</li>
				<li><a href="genre.html">Adventure</a>, <a href="genre.html">Drama</a>, <a href="genre.html">Romance</a>
				</li>
				<li><a href="cast.html">Gary Oldman</a>, <a href="cast.html">Asa Butterfield</a></li>
				<li>
					<h1>Star {{object.rating_movie}}</h1>/10 ({{object.vote_movie}})
				</li>
			</ul>
		</section>

	</div>
</main> -->

<main class="content">
	<div class="single">
		<section class="block-movie-content">
			<div class="movie-image">
				<img src="{{movie.poster_movie}}">
			</div>
			<div class="content">
				<a class="td" href="#">{{movie}}<span class="movie-year"> ({{movie.tahun_movie}})</span> </a>
				<p class="text-muted">
					<span class="runtime">{{movie.durasi_movie}}</span>
					<span class="ghost">|</span>
					<span class="genre">Crime, Drama</span>
				</p>
				<div class="rating" style="color: yellow; font-size: 30px; padding: 5px;">{{movie.rating_movie}}</div>
				<p class="text-muted-2">
					{{movie.deskripsi_movie}}
				</p>
				<p class="caster">
					Director:
					{% for director in director_list %}
						<a class="cast" href="#">{{director.id_name}}</a>,
					{% endfor %}
					<span class="ghost"></span>
					Star:
					{% for cast in cast_list %}
						<a class="cast" href="#">{{cast.id_name}}</a>,
					{% endfor %}

				</p>
				<p class="votes-visible">
					<span class="vts">Votes:</span>
					<span name="nv" data-value="223871">{{movie.vote_movie}}</span>
					<span class="ghost">|</span>
					<span class="vts">Gross:</span>
					<span name="nv" data-value="{{movie.gross_movie}}">${{movie.gross_movie}}</span>
				</p>
			</div>
		</section>

		<section class="links">
			<h3>Links</h3>
			<ul class="dlinks">
				<li><a>Download</a></li>
				<li><a href="#">Link1</a></li>
				<li><a href="#">Link2</a></li>
				<li><a href="#">Link3</a></li>
			</ul>
			<ul class="wlinks">
				<li><a>Watch</a></li>
				<li><a href="#">Link1</a></li>
				<li><a href="#">Link2</a></li>
				<li><a href="#">Link3</a></li>
			</ul>
		</section>

		<section class="trailer">
			<h3>Trailer</h3>
			<div class="trailer_frame">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/sY1S34973zA" frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
			</div>
		</section>
		{% endblock body %}