{% extends 'base.html' %}

{% block title %}Biography List - RUNE FILM{% endblock %}

{% block body %}
<main class="content">
	<section class="centered">
		<div class="movies">
			{% for name in object_list %}
			<div class="mov">
				<a href="{% url 'imdb:name_detail' name.id_name %}">
					{% if name.poster_name %}
					<img alt="{{name.name_name}}" height="294" src="{{name.poster_name}}" width="201">
					{% else %}
					<img alt="{{name.name_name}}" height="294"
						src="https://m.media-amazon.com/images/G/01/imdb/images/nopicture/medium/name-2135195744._CB466677935_.png"
						width="201">
					{% endif %}

					<h2 class="movietitle">{{name.name_name}}</h2>
				</a>
			</div>
			{% endfor %}

		</div>
		{% if is_paginated %}
		<nav class="pagination">
			<ul>
				{% if page_obj.has_previous %}
				<li><a href="?page=1">First</a></li>
				<li><a href="?page={{page_obj.previous_page_number}}">Prev</a></li>
				{% endif %}

				{% for page in page_obj.paginator.page_range %}
				{% if page_obj.number == page %}
				<li><a href="">{{page}}</a></li>
				{% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
				<li><a href="?page={{page}}">{{page}}</a></li>
				{% endif %}
				{% endfor %}

				{% if page_obj.has_next %}
				<li><a href="?page={{page_obj.next_page_number}}">Next</a></li>
				<li><a href="?page={{page_obj.paginator.num_pages}}">Last</a></li>
				{% else %}
				{% endif %}

			</ul>
		</nav>
		{% endif %}

	</section>

</main>
{% endblock body %}