{% extends 'base.html' %}
{% block body %}
<main class="content">
    <div class="single">
        <section class="block-movie-content">
            <div class="movie-image">
                <img src="{{name.poster_name}}">
            </div>
            <div class="content">
                <a class="td" href="#">{{name}} </a>
                <h3 style="color: yellow; opacity: 0.8; font-size: 28px; margin-top: 12px; margin-bottom: 8px;">
                    <i class="fas fa-address-book" style="color: aqua; font-size: 15px;"></i>
                    Overview
                </h3>
                <ul class="caster">
                    <i class="fas fa-hand-point-right" style="font-size: 12px;"></i>
                    Born: {{name.dateOfBirth_name}}
                    <br> <br>
                    <i class="fas fa-hand-point-right" style="font-size: 12px;"></i>
                    Birth Name: {{name.birthName_name}}
                    <br> <br>
                    <i class="fas fa-hand-point-right" style="font-size: 12px;"></i>
                    Height: {{name.height_name}} 
                    <br> <br>
                    <i class="fas fa-hand-point-right" style="font-size: 12px;"></i>
                    Died: {{name.dateOfDeath_name}}
                </ul>
                <div class="bio">
                    <h3 style="color: yellow; opacity: 0.8; font-size: 28px; margin-top: 12px; margin-bottom: 8px;">
                        <i class="fas fa-address-card" style="color: aqua; font-size: 15px;"></i>
                        Mini Biography
                    </h3>
                    
                    <p style="color: #f5f5f5d6; font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-size: 15px; letter-spacing: 0.5px;">
                        <i class="fas fa-hand-point-right" style="font-size: 12px; color: whitesmoke;"> </i>
                        {{name.bio_name}}
                        <span id="dots">...</span><span id="more"></span>
                        </span></p>
                    <button onclick="myFunction()" id="myBtn">Read more</button>
                </div>
                
                

            </div>
        </section>

        <section class="FBcomment">
            <h3 style="color: yellow; padding-left: 20px;">Bình luận về nhân vật</h3>
            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous"
                src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0&appId=252464779146967&autoLogAppEvents=1"></script>
            <div class="fb-comments" data-colorscheme="dark"
                data-href="https://uetimdb.herokuapp.com/movie/name/{{name.id_name}}" data-numposts="5"
                data-width="100%"></div>
        </section>
    </div>
</main>>


{% endblock body %}