{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>RUNE FILM HD PRO</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<!-- Link Swiper's CSS -->
	<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="{%static 'fontawesome/fontawesome-free-5.13.0-web/css1/all.css' %}">

	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<style>
		#more {
			display: none;
		}
	</style>
</head>

<body>
	<div class="wrapper">

		<header class="header">
			<figure class="logo"><a href="{% url 'imdb:movie_list' %}" title="Xem thông tin phim chất lượng siêu đẳng">
					<h2>R U N E FILMS</h2>
			</figure></a>
			<nav class="menu">
				<ul>
					<li><a href="{% url 'imdb:movie_list' %}">Home</a></li>
					<li><a href="{% url 'imdb:name_list' %}">Biography</a></li>
					<li><a>Genres</a>
						<ul>
							<li><a href="{% url 'imdb:genre_detail' 7 %}">Action</a></li>
							<li><a href="{% url 'imdb:genre_detail' 2 %}">Adventure</a></li>
							<li><a href="{% url 'imdb:genre_detail' 1 %}">Animation</a></li>
							<li><a href="{% url 'imdb:genre_detail' 12 %}">Biography</a></li>
							<li><a href="{% url 'imdb:genre_detail' 4 %}">Comedy</a></li>
							<li><a href="{% url 'imdb:genre_detail' 9 %}">Crime</a></li>
							<li><a href="{% url 'imdb:genre_detail' 3 %}">Drama</a></li>
							<li><a href="{% url 'imdb:genre_detail' 16 %}">Family</a></li>
							<li><a href="{% url 'imdb:genre_detail' 11 %}">Fantasy</a></li>
							<li><a href="{% url 'imdb:genre_detail' 20 %}">Film-Noir</a></li>
							<li><a href="{% url 'imdb:genre_detail' 13 %}">History</a></li>
							<li><a href="{% url 'imdb:genre_detail' 19 %}">Horror</a></li>
							<li><a href="{% url 'imdb:genre_detail' 18 %}">Music</a></li>
							<li><a href="{% url 'imdb:genre_detail' 5 %}">Musical</a></li>
							<li><a href="{% url 'imdb:genre_detail' 17 %} ">Mystery</a></li>
						</ul>
					</li>
					<li><a>Year</a>
						<ul>
							<li><a href="year.html">2020</a></li>
							<li><a href="year.html">2019</a></li>
							<li><a href="year.html">2018</a></li>
							<li><a href="year.html">2017</a></li>
						</ul>
					</li>
					<li class="mobsearch">
						<form class="mobform" method="GET">
							<input type="text" name="query" value="{{request.GET.q}}" class="mobsearchfield"
								placeholder="Search...">
							<input type="submit" value="" class="mobsearchsubmit">
						</form>
					</li>
					<li>
						<a class="admin" href="{% url 'admin:index' %}" title="Admin Login"><i
								class="fas fa-user-circle"></i></a>
					</li>

				</ul>
			</nav>
			<form class="search" method="GET" action="{% url 'imdb:movie_search' %}">
				<input type="text" name="query" value="{{request.GET.q}}" class="searchfield" placeholder="Search...">
				<input type="submit" value="" class="searchsubmit">
			</form>
			<div class="toggle"><img src="{% static 'img/menu.svg' %} "></div>
		</header>

		{% block body %}

		{% endblock body %}

		<footer class="footer">
			<div class="iconfooter">
				<a href="https://www.facebook.com/zuck" target="_blank"><i class="fab fa-facebook-square"></i></a>
				<a href="https://www.instagram.com/cristiano/?hl=vi" target="_blank"><i
						class="fab fa-instagram-square"></i></a>
				<a href="https://twitter.com/potus" target="_blank"><i class="fab fa-twitter"></i></a>
				<a href="https://www.youtube.com/channel/UC-lHJZR3Gqxm24_Vd_AJ5Yw" target="_blank"><i
						class="fab fa-youtube"></i></a>
				<a href="https://github.com/bachhs/uetimdb" target="_blank"><i class="fab fa-github"></i></a>
			</div>
			<div class="footermenu">
				<ul>
					<li><a href="{% url 'imdb:movie_list' %}" title="Back to Homepage">Home</a></li>
					<li><a href="https://www.facebook.com/bachhs"
							title="Send email feedback to 18020193@vnu.edu.vn">Contact</a></li>
					<li><a href="https://www.facebook.com/Alpabulous"
							title="Customer Service: 18020400@vnu.edu.vn">Cookie</a></li>
				</ul>
			</div>
			<div class="tags">
				<ul>
					<li>Watch Free Movies Trailers</li>
					<li>Movies Details</li>
					<li>RUNE Films Pro</li>
					<li>Latest Movies Trailers</li>
					<li>New Movies Trailers</li>
				</ul>
			</div>
			<div class="copyright" style="color: silver;">
				<p>Copyright &copy 2020 by RUNE Team</p>
			</div>
		</footer>

		<!-- Swiper JS -->
		<script src="js/swiper.min.js"></script>

		<!-- Initialize Swiper -->
		<script>
			$(document).ready(function () {


				var swiper = new Swiper('.homeslider > .swiper-container', {
					pagination: '.swiper-pagination',
					paginationClickable: true,
					preventClicks: false,
					preventClicksPropagation: false,
					effect: 'fade',
					breakpoints: {
						320: {
							height: 200
						},

						480: {
							height: 300
						},

						768: {
							height: 400
						},
						1024: {
							height: 500
						}
					}
				});

				var recentswiper = new Swiper('.recentslider > .swiper-container', {
					nextButton: '.recent-next',
					prevButton: '.recent-prev',
					slidesPerView: 8,
					paginationClickable: true,
					preventClicks: false,
					preventClicksPropagation: false,
					spaceBetween: 10,
					breakpoints: {
						320: {
							slidesPerView: 3,
							spaceBetween: 5
						},

						480: {
							slidesPerView: 3,
							spaceBetween: 5
						},

						768: {
							slidesPerView: 5,
							spaceBetween: 5
						},
						1024: {
							slidesPerView: 6,
							spaceBetween: 10
						}
					}
				});
		</script>

		<script>
				function myFunction() {
					var dots = document.getElementById("dots");
					var moreText = document.getElementById("more");
					var btnText = document.getElementById("myBtn");

					if (dots.style.display === "none") {
						dots.style.display = "inline";
						btnText.innerHTML = "Read more";
						moreText.style.display = "none";
					} else {
						dots.style.display = "none";
						btnText.innerHTML = "Read less";
						moreText.style.display = "inline";
					}
				}
		</script>


	</div>
</body>

</html>